html {
    box-sizing: border-box;
    font-size:  62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'Lato',sans-serif;
    background-color: #dbd8ff;
}
/*Estas propiedades definen el tamaño de la fuente de toda la pagina y agrega margenes de tipo caja*/
*, *:before, *:after {
    box-sizing: inherit;
}
header {
    padding: 3rem 0;
}
header h1 {
    text-align: center;
    color: #fff;
    font-size: 6rem;
}
header p {
    color:  #131313;
    text-align: center;
    font-size: 3.2rem;
}
header p a {
    text-decoration: none;
    color: #02ccff;
}
.DOM {
    max-width: 120rem;
    margin: 0 auto;
}
.DOM h2 {
    color: #fff;
    text-align: center;
}
.DOM nav a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin-right: 10px;
}
.DOM p {
    color: #2563EB;
    font-size: 20px;
}
.DOM #formulario {
    max-width: 500px;
    margin: 0 auto;
}
.DOM #formulario input {
    display: block;
    width: 100%;
    border: none;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 1rem;
}
.alerta{
    padding: 1rem;
    text-align: center;
    color: azure;
    text-transform: uppercase;
    font-size: 20px;
}
.alerta.error{
    background-color: red;
}
.alerta.exito{
    background-color: green;
}